body{
  margin:0;
  font-family:Arial;
  background:linear-gradient(135deg,#ffd6e7,#ffeef5);
}

.hidden{display:none}

/* START SCREEN */
#startScreen{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.startText{
  margin-top:20px;
  font-size:20px;
}

/* REAL ENVELOPE */
#envelope{
  width:260px;
  height:170px;
  background:#e8d9c5;
  border-radius:8px;
  position:relative;
  cursor:pointer;
  box-shadow:0 15px 30px rgba(0,0,0,.2);
  transition:.3s;
}

#envelope:hover{
  transform:translateY(-6px) scale(1.02);
}

.flap{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#d8c8b0;
  clip-path:polygon(0 0,100% 0,50% 55%);
}

.heart{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size:42px;
  color:#c9184a;
}

/* PUZZLE */
#puzzle{
  width:360px;
  height:360px;
  margin:30px auto;
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:10px;
}

.tile{
  width:100%;
  height:100%;
  border-radius:16px;
  cursor:pointer;
  box-shadow:
    inset 2px 2px 6px rgba(255,255,255,.8),
    inset -4px -4px 8px rgba(0,0,0,.2),
    0 8px 15px rgba(0,0,0,.2);
  transition:.25s;
}

.tile:hover{transform:translateY(-4px)}

#message{
  font-size:32px;
  color:#e6005c;
  text-align:center;
  display:none;
}